div.edison-section {
  background-color: red;
  float: left;
  height: 80vh;
  width: 60vw;
}

div.eisley-section {
  background-color: blue;
  float: right;
  height: 80vh;
  width: 60vw;
}

div.border-section {
  /* background-color: white; */
  height: 10px;
}

div.brother-selection {
  /* background-color: black; */
  margin: auto;
}
 