/* btn-primary class */
.btn-primary {
    font-size: 40px;
    color: #007bff;
    background-color: white;
    border-color: white;
}

/* when clicking on element with btn-primary class */
.btn-primary:not(:disabled):not(.disabled):active {
    font-size: 40px;
    color: #007bff;
    background-color: white;
    border-color: white;
}